# requirements.txt
streamlit
pandas
jira>=3.0
plotly
numpy
scikit-learn
pymongo
cryptography
dnspython
passlib[bcrypt]
fpdf2
google-generativeai
openai
matplotlib
sendgrid
pymupdf
stqdm
streamlit-quill
streamlit-option-menu
scipy
reportlab